.news-root {
  height: 100%;

}

.news-top {
  height: 60px;
  background-color: #363d4e;
  color: white;
}

.news-bottom {
  height: calc(100% - 60px);
}

.news-list {

  height: calc(100% - 20px);
  max-height: calc(100% - 20px);
  margin: 10px;

  overflow: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-inline-start: 0;

  justify-content: flex-start;
}

li {
  display: inline-block;
  /*height: 200px;*/
  text-align: center;
}

app-news-item:not(:last-child) {
  margin-bottom: 10px;
}
