.row {
    display: flex;

}

.news-image {
    margin: 10px;
    height: 100px;
    width: 100px;
    background-color: rgb(59, 59, 59);
}

.news-text {
    margin: 10px;
    flex: 1;
}

.news-title {}

.news-date {}

.news-item-root {
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.75);
}