.row {
  display: flex;

}

.news-image {
  margin: 10px;
  height: 100px;
  width: 100px;
  background-color: rgb(59, 59, 59);
}

.news-text {
  margin: 10px;
  flex: 1;
}

.news-title {
}

.news-date {
  float:right;
}

.news-item-root {
  text-align: left;
  height: 200px;

  background-color: rgba(0, 0, 0, 0.1);
}
