<div class="news-item-root">
    <div class="row">
        <div class="news-image"></div>
        <div class="news-text">
            <h1>Title</h1>
            <span>date</span>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
        <p class="news-text">bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
            bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla </p>
    </div>
</div>