.server-browser-root {
  height: 100%;

}

.server-browser-top {
  background-color: #363d4e;
  color: white;
  height: 60px;
}

.server-browser-bottom {
  height: calc(100% - 60px);
}

.server-list {
  height: calc(100% - 20px);
  margin: 10px;

  overflow-y: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-inline-start: 0;

  justify-content: flex-start;
}

li {
  margin-bottom: 5px;
}

li:nth-child(odd){
  background: #7c8092;
}

app-server-browser-item:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}
