/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background-color: #252525;
  background: linear-gradient(180deg, #71A2E033 0%, #05060833 100%);
}

html {
  background-image: url(./assets/stars.jpg);

  font-family: 'Open Sans', sans-serif;
}

.container {
  height: calc(100% - 20px);
  display: flex;
  justify-content: center;
  margin: 10px;
  background: black;

  .title {
    color: white;
    margin: 5px;
    padding: 50px 20px;
  }
}

.header {
  text-align: center;
  padding-top: 10px;
  margin: 0;
}

.background-base {
  background-color: #5f6472;
}
