/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
  padding: 0;

  height: 100vh;
  width: 100vw;

  overflow: hidden;

  background-color: #252525;
  background: linear-gradient(180deg, #71A2E033 0%, #05060833 100%);
}

html {
  background-image: url(./assets/stars.jpg);

}

.container {
  height: 100%;
  display: flex;
  justify-content: center;

  .title {
    color: white;
    margin: 5;
    padding: 50px 20px;
  }
}

.background-base {
  background-color: darkgray;
}